# dev env
.vscode

# binaries
cy-parser
cy-parser.exe

# logs
*.log

# cypress test example
example/node_modules/
example/test-results/
example/cypress/fixtures
example/cypress/plugins
example/test-results.xml
